<mat-grid-list cols="12" rowHeight="80px">
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <mat-form-field class="example-form-field">
      <mat-label>Clearable input</mat-label>
      <input matInput  type="text" [(ngModel)]="searchQuery">
      <button mat-button *ngIf="searchQuery" matSuffix mat-icon-button aria-label="Clear" (click)="searchQuery=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" rowspan="1">
    <button mat-raised-button color="accent" (click)="search()">Search</button>
  </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
<mat-grid-list cols="12" rowHeight="45px" >
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1">
    <button mat-raised-button color="accent" (click)="openDialog()">Create</button>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1">
    <button button mat-raised-button color="accent" (click)="clear()">Clear ALL</button>
  </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
<mat-grid-list cols="12" rowHeight="45px">
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1"> <button mat-raised-button color="accent" (click)="accordion.openAll()">Expand All
  </button></mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="1">  <button mat-raised-button color="accent"(click)="accordion.closeAll()">Collapse All</button>
  </mat-grid-tile>
</mat-grid-list>
  <div class="example-action-buttons">


  </div>

    <mat-accordion class="example-headers-align" multi>
      <div *ngFor="let error of errors">
          <mat-expansion-panel>
            <mat-expansion-panel-header  [collapsedHeight]="'140px'" [expandedHeight]="'140px'">
              <mat-panel-title>
                {{error.reason}}
              </mat-panel-title>
              <mat-panel-description>
                {{error.code}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list role="list">
              <div *ngFor="let com of error.comments">
                  <mat-card class="example-card">
                    <mat-list-item role="listitem">
                    <mat-card-header>
                      <mat-card-title>Score : {{com.score}}</mat-card-title>
                      <mat-card-subtitle>{{com.date | date }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <h4>{{com.body}}</h4>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button (click)="vote(com,error,'upvote')">UPVOTE</button>
                      <button mat-button (click)="vote(com,error,'downvote')">DOWNVOTE</button>
                    </mat-card-actions>
                    </mat-list-item>
                  </mat-card>

              </div>
            </mat-list>
          </mat-expansion-panel>
      </div>
    </mat-accordion>





